* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header nav {
    background-color: whitesmoke;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8F3;
}

header nav .nav-logo {
    font-size: 1.3rem;
    font-weight: 800;
    color: #181818;
    cursor: pointer;
    margin-right: 70px;
}

header nav .nav-logo:hover {
    color: #FD6E0A;
}

header nav .nav-logo .logo-special {
    color: #FD6E0A;
}

header nav .nav-logo .logo-special:hover {
    color: black;
}

.nav-links ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links ul li {
    margin-right: 50px;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #474747;
}

.nav-links ul li a:hover {
    color: #FD6E0A;
    transition: 0.2s;
}

.nav-links button {
    border: none;
    padding: 10px 20px;
    background-color: #FD6E0A;
    border: 2px solid #FD6E0A;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.nav-links button:hover {
    border: 2px solid #FD6E0A;
    background-color: white;
    color: #FD6E0A;
    transition: 0.15s;
}

.hero-section {
    height: 85vh;
    display: flex;
    padding: 50px 20px 0px 210px;
    background: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 740px 430px;
    background-color: #FFF8F3;
}

.hero-left {
    width: 60%;
    padding-top: 35px;
}


.hero-left h3 {
    font-size: 45px;
    color: #474747;
    font-weight: 400;
}

.hero-left h1 {
    font-size: 55px;
    margin-top: 15px;
    font-weight: 700;
    color: #181818;
}

.hero-left p {
    margin-top: 15px;
    color: #474747;
    width: 70%;
    margin-top: 15px;
}

.hero-btns {
    margin-top: 20px;
}

.hero-btns .downloadbtn {
    border: none;
    padding: 10px 20px;
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.hero-btns .downloadbtn:hover {
    border: 1px solid #FD6E0A;
    background-color: white;
    color: #FD6E0A;
    transition: 0.15s;
}

.hero-btns .contactbtn {
    border: none;
    padding: 11px 25px;
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 10px;
}

.hero-btns .contactbtn:hover {
    background-color: #FD6E0A;
    color: white;
}

.hero-btns i {
    margin-left: -5px;
    margin-right: 3px;
}

.hero-right {
    width: 40%;
}

.hero-right img {
    width: 390px;
    padding-right: 20px;
    cursor: pointer;
}

/* ABOUT ME SECTION  */
.about-me {
    background-color: #FFF8F3;
    padding: 90px 90px;
    width: 70%;
    margin: 70px auto;
    text-align: center;
}

.about-me-head h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #181818;
    margin-bottom: 25px;
}

.about-me-para p {
    color: #757575;
    text-align: center;
    margin-bottom: 20px;
}

.about-me-details {
    display: flex;
    justify-content: space-evenly;
}

.about-me-details p {
    color: #757575;
    margin-bottom: 8px;
}

.about-me-details h4 {
    color: #181818;
    font-size: 1.05rem;
}

.what-i-do {
    padding: 10px 90px 0px 90px;
    width: 70%;
    margin: 70px auto 0px auto;
    text-align: center;
}

.what-i-do h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #181818;
    margin-bottom: 25px;
}

.what-i-do>p {
    color: #757575;
    text-align: center;
    margin-bottom: 20px;
}

.what-i-do-boxes {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 40px auto;
    text-align: center;
    gap: 20px;
    text-align: left;
}

.box {
    padding: 30px;
    box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.205);
}

.box img {
    width: 40px;
    margin-bottom: 25px;
}

.box h4 {
    color: #181818;
    margin-bottom: 15px;
}

/* Summary of Resume  */
.resume-summary {
    padding: 10px 0px;
    width: 70%;
    margin: 70px auto;
    text-align: center;
    margin-top: 80px;
}

.resume-summary>h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #181818;
    margin-bottom: 80px;
}

.resume-summary-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
}

.summary-left,
.summary-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.summary-left h3,
h4,
.summary-right h3,
h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #181818;
}

.summary-left,
.summary-right h4 {
    margin-bottom: 5px;
}

.summary-left h6,
.summary-right h6 {
    color: #474747;
    font-size: 1rem;
    margin-bottom: 15px;
}

.summary-left p,
.summary-right p {
    color: #757575;
    font-size: 0.8rem;
}

.summary-left-2,
.summary-right-2 {
    border-top: 1px solid grey;
    padding-top: 20px;
}

.resume-summary button {
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    padding: 11px 25px;
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 10px;
}

.resume-summary button:hover {
    border: 1px solid #FD6E0A;
    background-color: white;
    color: #FD6E0A;
    transition: 0.15s;
}

/* FOOTER  */
footer {
    background-color: #FFF8F3;
    height: 70vh;

}

.footer-container {
    padding: 10px 0px;
    width: 70%;
    margin: 70px auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly margin-top: 40px;
}

.footer-left h2 {
    padding-top: 50px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-left p {
    color: #757575;
    margin-bottom: 20px;
    width: 70%;
}

.footer-left i {
    margin-right: 15px;
    color: #FD6E0A;
}

.footer-left i:hover {
    color: #474747;
    cursor: pointer;
}

.footer-right h2 {
    padding-top: 50px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-right {
    padding-right: 50px;
}

.footer-right input {
    display: block;
    margin-bottom: 15px;
    border: none;
    padding: 10px 65px 10px 10px;
    border: 2px solid #FD6E0A;
}

.footer-right input::text {
    text-align: left;
}

.footer-right textarea {
    padding: 10px 0px 30px 10px;
    border: none;
    border: 2px solid #FD6E0A;
}

input[type="submit"] {
    margin-top: 20px;
    border: none;
    padding: 11px 25px;
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}